<%
function layoutTitle() {
  const title = page.h1 || page.title;
  if (title && title.length > 0) {
    return '<h1 class="article-title"><span>' + title + '</span></h1>';
  } else {
    return '';
  }
}
%>
<script src="https://cdn.jsdelivr.net/gh/cayzlh/psychic-potato@master/js/ispeak-bber-md.min.js"></script>

<article class='content md' >
  <%- layoutTitle() %>
  <div id='speak'></div>
</article>
<script>
  ispeakBber
  .init({
    el: '#speak', // 容器选择器
    name: '<%- theme.talking.name %>', // 显示的昵称
    envId: '<%- theme.talking.envId %>', // 环境id
    region: '<%- theme.talking.region %>', // 腾讯云地址，默认为上海
    limit: '<%- theme.talking.limit %>', // 每次加载的条数，默认为5
    avatar: '<%- theme.talking.avatar %>',
    fromColor:'rgb(245, 150, 170)', // 下方标签背景颜色 默认 rgb(245, 150, 170)
    loadingImg: '<%- theme.talking.loadingImg %>', // 自定义loading的图片，示例值为默认值
    dbName:'talks' // 数据的名称，默认talks，避免有人的命名不是这个，所以加入此配置字段。
  })
  .then(function() {
    // 动态加载完成后的回调函数，你可以写你自己的功能
    console.log('动态 加载完成')
  })
</script>